@charset "utf-8";
/* CSS Document */
#wrapper {
	width: 100%;
	overflow: hidden;
	background-color: #E0E
	height: 500px;
}


#gallery {
	background-color: #CCC;
	height: 500px;
	width: 350px;
	overflow: scroll;

	float: left;
}

#spliter {
	background-color: #00C;
	float: left;
	width: 10px;
	height: 500px;	
}

#spliter:hover{
	background-color: #0C0;
}

#content{
	height: 500px;
	background-color: #E00;
}


.img-container {
	float: left;
	height: 90px;
	line-height: 90px;
	text-align: center;
	display: inline;
	background-color: #6F9;
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: 2px;
	margin-left: auto;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
}
img {
	vertical-align: middle;
	margin: auto;
}
.test {
    background-color: #cfc;
    width: 300px;
    height:50px;
}
